<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Country</title>
    <link rel="icon" href="black-globe-solid.svg" type="image/svg">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="bg-dark text-white" style="padding-top: 80px; margin: 30px">
<nav class="navbar p-3 mb-2 fixed-top navbar-expand-lg navbar-dark bg-dark" style="height: 100px">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img src="white-globe-solid.svg" alt="" width="48" height="48">
            TravelerApp
        </a>
        <p class="fs-2" th:text="${country.name}"></p>
        <div>
            <button class="btn btn-link" style="color: white">Sign in</button> &nbsp;
            <button class="btn btn-success">Sign up</button>
        </div>
    </div>
</nav>
<div>
    <a type="button" class="btn btn-link" th:href="@{countries}" style="color: white">
        <img src="arrow-left-solid.svg" alt="" width="12" height="12">
        Go back
    </a>
    <a type="button" class="btn btn-link" th:href="@{/country/delete/{countryId}(countryId=${country.id})}" style="float: right">
        <img src="trash-alt-solid.svg" alt="" width="24" height="24">
    </a>
    <a type="button" class="btn btn-link" th:href="@{/country/edit/{countryId}(countryId=${country.id})}" style="float: right; margin-right: 20px">
        <img src="pencil-alt-solid.svg" alt="" width="24" height="24">
    </a>
</div>
<div style="text-align: -webkit-center">
    <div class="card bg-dark text-white"
         style="width: 1250px; height: 300px; overflow: hidden; margin-bottom: 10px; margin-top: 50px">
        <img th:src="${country.imageUrl}" style="top: -300px; position: absolute" class="card-img">
    </div>
    <div>
        <p class="fs-4 fw-light" th:text="${country.description}"></p>
        <p class="fs-4 fw-light"
           th:text="'Average temperature: ' + ${country.averageTemperature.setScale(1)} + '°C'"></p>
    </div>
    <div th:if="${country.regions.size() > 0}">
        <p class="fs-4 fw-light">Regions from this country:</p>
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="region : ${country.regions}">
                <td th:text="${region.id}"></td>
                <td th:text="${region.name}"></td>
                <td><a th:href="@{/region?id={regionId}(regionId=${region.id})}"><img src="eye-solid.svg" height="24" width="24" alt=""></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>