<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create country</title>
    <link rel="icon" href="../static/black-globe-solid.svg" type="image/svg">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="bg-dark text-white"
      style="padding-top: 80px; margin: 30px; display: flex; align-items: center; justify-content: center">
<div class="shadow-lg  p-3 mb-5  rounded"
     style="background-color: #353535; width: 800px; display: flex; align-items: center; justify-content: center">
    <form th:action="@{/country/save}" th:object="${country}" method="post" style="width:inherit">
        <div style="text-align: center">
            <h3>Add new country</h3>
        </div>
        <input type="text" style="visibility: hidden" class="form-control" id="id" th:field="*{id}"
               required>
        <div class="col-12" style="margin-bottom: 10px">
            <label class="form-label" style="width: inherit;">Name
                <input type="text" maxlength="255" class="form-control" id="name" th:field="*{name}"
                       required>
            </label>
        </div>
        <div class="col-12" style="margin-bottom: 10px">
            <label class="form-label" style="width: inherit;">Description
                <textarea maxlength="1000" rows="5" class="form-control" id="description" th:field="*{description}"
                          required></textarea>
            </label>
        </div>
        <div class="col-12" style="margin-bottom: 10px">
            <label class="form-label" style="width: inherit;">Image Url
                <input type="text" maxlength="255" class="form-control" id="imageUrl" th:field="*{imageUrl}"
                       required>
            </label>
        </div>
        <div class="col-12" style="margin-bottom: 10px">
            <label class="form-label" style="width: inherit;">Average temperature
                <input type="number" step="0.5" onkeydown="return false" class="form-control" id="averageTemperature" th:field="*{averageTemperature}"
                       required>
            </label>
        </div>
        <div class="col-12" style="margin-top: 15px; text-align: right">
            <button class="btn btn-success" type="submit">
                Save changes
            </button>
        </div>
        <div style="margin-top: 15px">
            <a th:href="@{/countries}" style="color: white">Go back</a>
        </div>
    </form>
</div>
</body>
</html>